p {
    margin: 2px;
}
.flightInfo {
    display: flex;
    border: 1px solid gray;
    margin: 10px auto;
    width: 700px;
    border-radius: 10px;
    background-color: rgba(0, 173, 153, .15);
}
.detailsContainer {
    flex-grow: 1;
}
.price {
    display: flex;
    align-items: center;
    padding: 5px;
    border-right: 1px solid gray;
}
.departure, .arrival {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.departure {
    border-bottom: 1px solid gray;
}
